name: Latest blog post workflow

on:
  repository_dispatch:
    types:
      - blog-update
  push:
    branches:
      - master

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: BLOG
          feed_list: 'https://felipecesar.dev/rss.xml'
